
<app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <button [routerLink]="['/inicio']"  class="btn btn-secondary"> <span><i class="fas fa-chevron-left"></i></span> Regresar</button>

                <!-- panel materias -->
                <div class="carga-academica card  mt-1 shadow bg-white rounded">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="p-2">
                                <h6 class="titulo-card">Materias disponibles</h6>
                            </div>
                            <div class="ml-auto">
                                <a class="nav-link espaciado-nav-btn"> <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-body-materias">
                        <ul class="list-group">
                            <a class="list-group-item list-group-item-action">
                                <div class="flex-column">
                                    <h6 class="titulo-materia">Lenguajes Automatas 1</h6>
                                    <p><small>Roberto Rangel</small></p>
                                    <div class="container">
                                        <div class="row">
                                            <span class=" ml-1 mt-1 span-materias badge badge-info badge-pill">5
                                                créditos</span>

                                            <span
                                                class=" ml-1  mt-1 span-materias badge badge-danger badge-pill">Especial</span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a type="button" data-toggle="modal" data-target="#exampleModal" href="#" href="#"
                                class="list-group-item list-group-item-action">
                                <div class="flex-column">
                                    <h6 class="titulo-materia">Cálculo vectorial</h6>
                                    <p><small>Maestro a elegir</small></p>
                                    <div class="container">
                                        <div class="row">
                                            <span class=" ml-1 mt-1 span-materias badge badge-info badge-pill">5
                                                créditos</span>
                                            <span
                                                class=" ml-1 mt-1 span-materias badge badge-primary badge-pill">Horarios
                                                disponibles</span>
                                            <span
                                                class=" ml-1  mt-1 span-materias badge badge-warning badge-pill">Repetición</span>
                                        </div>
                                    </div>
                                </div>
                            </a>


                            <a   class="list-group-item list-group-item-action">
                                <div class="flex-column">
                                    <h6 class="titulo-materia">Ingles 7</h6>
                                    <p><small>Domingo</small></p>
                                    <div class="container">
                                        <div class="row">
                                            <span
                                                class=" ml-1  mt-1 span-materias badge badge-success badge-pill">Normal</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
 
                        </ul>
                    </div>

                </div>



                <!-- oferta materias -->
                <div class="carga-academica card shadow bg-white rounded mt-3">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="p-2">
                                <h6 class="titulo-card">Oferta educativa</h6>
                            </div>
                            <div class="ml-auto">
                                <a class="nav-link espaciado-nav-btn"> <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-body-materias">
                        <ul class="list-group">
                            <a   class="list-group-item list-group-item-action">
                                <div class="flex-column">
                                    <h6 class="titulo-materia">Inteligencia Artificial </h6>
                                    <p><small>Roberto Rangel</small></p>
                                    <div class="container">
                                        <div class="row">
                                            <span class=" ml-1 mt-1 span-materias badge badge-info badge-pill">5
                                                créditos</span>

                                            <span
                                                class=" ml-1  mt-1 span-materias badge badge-success badge-pill">Normal</span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a  class="list-group-item list-group-item-action">
                                <div class="flex-column">
                                    <h6 class="titulo-materia">Otra materiaxd</h6>
                                    <p><small>Maestro a elegir</small></p>
                                    <div class="container">
                                        <div class="row">
                                            <span class=" ml-1 mt-1 span-materias badge badge-info badge-pill">5
                                                créditos</span>
                                            <span
                                                class=" ml-1 mt-1 span-materias badge badge-primary badge-pill">Horarios
                                                disponibles</span>
                                            <span
                                                class=" ml-1  mt-1 span-materias badge badge-success badge-pill">Normal</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>



                <!-- tutorias -->

                <!-- <div class="card shadow bg-white rounded mt-3">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="p-2">
                                <h6 class="titulo-card">Elegir tutor</h6>
                            </div>
                            <div class="ml-auto">
                                <a class="nav-link espaciado-nav-btn" href="#"> <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body card-body-materia-ingles">
                        <ul class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="flex-column">
                                    <h6 class="titulo-materia">Tutorias </h6>
                                    <p><small>Roberto Rangel</small></p>
                                    <div class="container">
                                        <div class="row">
                                          
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div> -->





                <!-- actividades exptraescolares -->
                <div class="carga-academica card shadow bg-white rounded mt-3">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="p-2">
                                <h6 class="titulo-card">Actividades extraescolares</h6>
                            </div>
                            <div class="ml-auto">
                                <a class="nav-link espaciado-nav-btn"  > <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-body-materias">
                        <ul class="list-group">
                            <a class="list-group-item list-group-item-action">
                                <div class="flex-column">
                                    <h6 class="titulo-materia">Ajedrez</h6>
                                    <p><small>Juan Lopez</small></p>
                                    <div class="container">
                                        <div class="row">
                                            <span class=" ml-1 mt-1 span-materias badge badge-info badge-pill">5
                                                créditos</span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a  class="list-group-item list-group-item-action">
                                <div class="flex-column">
                                    <h6 class="titulo-materia">Voli</h6>
                                    <p><small>Maestro a elegir</small></p>
                                    <div class="container">
                                        <div class="row">
                                            <span class=" ml-1 mt-1 span-materias badge badge-info badge-pill">5
                                                créditos</span>
                                            <span
                                                class=" ml-1 mt-1 span-materias badge badge-primary badge-pill">Horarios
                                                disponibles</span>
                                            <span
                                                class=" ml-1  mt-1 span-materias badge badge-success badge-pill">Normal</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-12 col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">

                <div class="card-deck">
                    <div class="card mb-3 overflow-hidden shadow bg-white rounded" style="min-width: 12rem">
                        <div class="bg-holder bg-card"></div>
                        <div class="card-body position-relative">
                            <h6>Datos <span class="badge badge-info rounded-capsule ml-2">7º Semestre</span> </h6>
                            <p class=" fs-4 mb-2 font-weight-normal text-secondary">Jesus Emmanuel De Leon Lerma</p>
                            <p class=" fs-4 mb-2 font-weight-normal text-secondary">Ingeniería en Sistemas
                                computacionales</p>
                            <p class=" fs-4 mb-2 font-weight-normal text-secondary">1701F0163 </p>
                        </div>
                    </div>


                    <div class="card mb-3 overflow-hidden shadow bg-white rounded" style="min-width: 12rem">
                        <div class="bg-holder bg-card"></div>
                        <div class="card-body position-relative">
                            <h6>Creditos Autorizados<span class="badge badge-info rounded-capsule ml-2">total</span></h6>
                            <h1 class="fs-4 mb-2 font-weight-normal text-sans-serif text-info">32</h1>
                            <!-- <a
                                class="font-weight-semi-bold fs--1 text-nowrap" href="#!">Ver créditos<span
                                    class="fas fa-angle-right ml-1" data-fa-transform="down-1"></span></a> -->
                        </div>
                    </div>

                    <div class="card mb-3 overflow-hidden shadow bg-white rounded" style="min-width: 12rem">
                        <div class="bg-holder bg-card"></div>
                        <div class="card-body position-relative">
                            <h6>Creditos restantes<span class="badge badge-info rounded-capsule ml-2">total</span>
                            </h6>
                            <h1 class=" fs-4 mb-2 font-weight-normal text-sans-serif text-info">22</h1>
                            <button
                                class="font-weight-semi-bold btn btn-outline-danger fs--1 text-nowrap" href="#!">Pedir créditos</button>
                        </div>
                    </div>

                </div>

                <!-- <div class="etiqueta-principal  borde-sombra">
                 </div> -->
                <div class="card mt-1 shadow bg-white rounded">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="p-2">
                                <h6 class="titulo-card">Horario escolar <span class="span-horario"> 2020 </span>
                                </h6>
                            </div>
                            <div class="ml-auto">
                                <a class="nav-link espaciado-nav-btn"  > <i class="fas fa-trash"></i>
                                </a>
                            </div>
                            <div>
                                <a class="nav-link espaciado-nav-btn" > <i class="fas fa-redo"></i>
                                </a>
                            </div>
                            <div class=" ">
                                <a class="nav-link espaciado-nav-btn"  > <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="container">
                            <div class="row">
                                <h6> <span class="ml-2 badge badge-info">Lenguajes Automatas 2 <a
                                            class="materia-seleccionada"><i class="fas fa-times-circle"></i>
                                        </a> </span> </h6>
                                <h6> <span class="ml-2 badge badge-info">Programación web <a
                                            class="materia-seleccionada"><i class="fas fa-times-circle"></i>
                                        </a> </span> </h6>
                                <h6> <span class="ml-2 badge badge-info">Programación lógica y funcional <a
                                            class="materia-seleccionada"><i class="fas fa-times-circle"></i>
                                        </a> </span> </h6>
                                <h6> <span class="ml-2 badge badge-info">Gestión de Proyectos de Software <a
                                            class="materia-seleccionada"><i class="fas fa-times-circle"></i>
                                        </a> </span> </h6>
                                <h6> <span class="ml-2 badge badge-info">Ingles VII <a class="materia-seleccionada"
                                             ><i class="fas fa-times-circle"></i> </a> </span> </h6>
                                <h6> <span class="ml-2 badge badge-info">Programación de Base de Datos <a
                                            class="materia-seleccionada"><i class="fas fa-times-circle"></i>
                                        </a> </span> </h6>
                                <h6> <span class="ml-2 badge badge-info">Taller de Investigación II <a
                                            class="materia-seleccionada"><i class="fas fa-times-circle"></i>
                                        </a> </span> </h6>
                                <h6> <span class="ml-2 badge badge-info">Conmutación y Enrutamiento en Redes de Datos <a
                                            class="materia-seleccionada"><i class="fas fa-times-circle"></i>
                                        </a> </span> </h6>

                            </div>
                        </div>
                        <hr>

                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-sm table-bordered ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Hora</th>
                                            <th scope="col">Lunes</th>
                                            <th scope="col">Martes</th>
                                            <th scope="col">Miercoles</th>
                                            <th scope="col">Jueves</th>
                                            <th scope="col">Viernes</th>
                                            <th scope="col">Sabado</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <th scope="row">
                                                <p> 7:00-7:55 </p>
                                            </th>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Ingles </span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info"> Ingles </span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info"> Ingles</span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info"> Ingles </span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info"> Ingles</span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info"> Ingles</span> </p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                <p> 7:55-8:50 </p>
                                            </th>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Lenguajes Automatas 2</span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Lenguajes Automatas 2</span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Lenguajes Automatas 2</span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> </p>
                                            </td>

                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                <p> 8:50-9:45 </p>
                                            </th>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación web </span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación web </span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación web </span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación web </span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación web </span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación web </span> </p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                <p> 9:45-10:40 </p>
                                            </th>
                                            <td  class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>

                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                <p> 10:40-11:35 </p>
                                            </th>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación lógica y
                                                        funcional</span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación lógica y
                                                        funcional</span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación lógica y
                                                        funcional</span> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td  class="celda-hover" >
                                                <p> </p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                <p> 11:35-12:30 </p>
                                            </th>
                                            <td  class="celda-hover" >
                                                <p> <span class="badge badge-info">Gestión de Proyectos de
                                                        Software</span> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Gestión de Proyectos de
                                                        Software</span> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Gestión de Proyectos de
                                                        Software</span> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                <p>12:30-13:25 </p>
                                            </th>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                <p>13:25-14:20</p>
                                            </th>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Taller de Investigación II </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Taller de Investigación II </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Taller de Investigación II </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Taller de Investigación II </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                <p>14:20-15:15</p>
                                            </th>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p>
                                                    < </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Conmutación y Enrutamiento en Redes
                                                        de Datos </span> </p>

                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                <p>15:15-16:10</p>
                                            </th>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación de Base de Datos </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación de Base de Datos </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación de Base de Datos </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación de Base de Datos </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación de Base de Datos </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                <p>16:10-17:05</p>
                                            </th>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación de Base de Datos </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación de Base de Datos </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación de Base de Datos </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación de Base de Datos </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> <span class="badge badge-info">Programación de Base de Datos </span>
                                                </p>
                                            </td>
                                            <td class="celda-hover" >
                                                <p> </p>
                                            </td>
                                        </tr>

                                        <!-- <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>

                        </div>



                    </div>
                </div>

                <hr>
                <div class="container mb-4">
                    <div class="row justify-content-end">
                    <button (click)="confirmar()" class="btn btn-info">Confirmar horario</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- 
INICIO ALUMNO         
Nombre*
Apellido paterno *
Apellido materno *
Sexo *
Fecha nacimiento *
Dirección *
calle
num ext
num int (opc)
código postal:
Colonia
Ciudad
Estado
Lugar de nacimiento *
Estado
Matricula *
Carrera *
Especialidad (GENERADA)
Correo institucional
NSS
Tipo de sangre
Tutor
 -->



 