<div class="contenedor-notas d-flex justify-content-center ">
    <div>Notas</div>
</div>
<div id="l1" class="container-fluid">
    <div id="l2" class="row">
        <div id="lista" class="col-12">
            <ul id="lista-notas" name="lista-notas" class="list-group">
                <script type="text/javascript" src="../../../negocios/js/shared/notas/notas_cargar.js"></script>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-2">
        <div>
            <button class="mr-2 btn btn-outline-primary" id="btn-abrirnotas" href="#" data-toggle="modal" data-target="#fm-modal" onclick="limpiarNuevo()">
            Crear Nota
        </button>
        </div>
    </div>
    
    <!--Ventana modal nota-->
    <div class="modal fade" id="fm-modal" tabindex="-1" role="dialog" aria-labelledby="fm-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="row" >
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <img class="ilustracion-modal" src="/../../assets/img/agregar-notas.svg" alt="">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="row justify-content-center">
                                <div class="textbox">
                                    <input id="notaTitulo" name="notaTitulo" type="text" placeholder="Titulo de la nota" />
                                    <input id="idUsuariou" name="idUsuariou" type="text" hidden="" />
                                    <input id="idNotau" name="idNotau" type="text" hidden="" />
                                </div>
                            </div>
                                <form name="frmNotas" id="frmNotas" class="frmNotas" method="" action="#" onsubmit="return form_clic(frmNotas)">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <textarea class="form-control" id="notaDescripcion" rows="3" placeholder="Escriba aquí..."></textarea>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <div class="d-flex justify-content-end">
                                    <div class="p-2 bd-highlight">
                                        <button class="btn btn-secondary" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <button class="btn btn-success" onclick="form_click()" type="submit" form="frmNotas">
                                        Guardar
                                    </button>
                                    </div>

                                </div>
                        </div>
                    </div>
                   
                </div>
              
            </div>
        </div>
    </div>

</div>
   