<div class="col-12">
    <div></div>
    <h1 class="mt-4">Cumpleaños por mes
    </h1>
    <hr>
</div>
<!-- col-12 -->

<div class="row mt-3">
    <div class="col">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="heading1">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                ENERO
                            </button>
                    </h5>
                </div>
                <div id="collapse1" class="collapse show" arial-labelledby="heading1" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading2">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                               FEBRERO
                            </button>
                    </h5>
                </div>
                <div id="collapse2" class="collapse" arial-labelledby="heading2" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading5">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                MARZO
                            </button>
                    </h5>
                </div>
                <div id="collapse5" class="collapse" arial-labelledby="heading5" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading6">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                                ABRIL
                            </button>
                    </h5>
                </div>
                <div id="collapse6" class="collapse" arial-labelledby="heading6" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading7">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                               MAYO
                            </button>
                    </h5>
                </div>
                <div id="collapse7" class="collapse" arial-labelledby="heading7" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading8">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                                JUNIO
                            </button>
                    </h5>
                </div>
                <div id="collapse8" class="collapse" arial-labelledby="heading8" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading9">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                                JULIO
                            </button>
                    </h5>
                </div>
                <div id="collapse9" class="collapse" arial-labelledby="heading9" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading10">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                                AGOSTO
                            </button>
                    </h5>
                </div>
                <div id="collapse10" class="collapse" arial-labelledby="heading10" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading11">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                                SSEPTIEMBRE
                            </button>
                    </h5>
                </div>
                <div id="collapse11" class="collapse" arial-labelledby="heading11" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading12">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
                                OCTUBRE
                            </button>
                    </h5>
                </div>
                <div id="collapse12" class="collapse" arial-labelledby="heading12" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading3">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                NOVIEMBRE
                            </button>
                    </h5>
                </div>
                <div id="collapse3" class="collapse" arial-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading4">
                    <h5 class="mb-0">
                        <button class="btn btn-success" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                               DICIEMBRE
                            </button>
                    </h5>
                </div>
                <div id="collapse4" class="collapse" arial-labelledby="heading4" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias, alias omnis nostrum corrupti, sit aliquid ut maiores earum corporis dolore pariatur temporibus similique deleniti eius nihil laboriosam ab ipsam!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>