<div class="col-12">
    <div></div>
    <h1 class="mt-4">Cumpleaños por mes
    </h1>
    <hr>
</div>
<!-- col-12 -->
<div class="row mt-4">
    <div class= "colum mt- 4">
    <div class="flip-card">
   <div class= "flip-card-inner">
       <div class="flip-card-front">
         <h1>Enero</h1>
       </div>
       <div class="flip-card-back">
        <table class="table">
            <thead class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Cumpleaños </th>
                   
                    
                </tr>
            </thead>
            </table>
       </div>
   </div>
</div>
</div>



 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
          <h1>Febrero</h1>
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
          <h1>Marzo</h1>
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
        <h1>Abril</h1> 
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
        <h1>May</h1> 
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
          <h1>Junio</h1>
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
    <h1>Julio</h1> 
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
        <h1>Agosto</h1> 
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
          <h1>Septiembre</h1>
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
          <h1>Octubre</h1>
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
          <h1>Noviembre</h1> 
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

 <div class="flip-card">
    <div class= "flip-card-inner">
        <div class="flip-card-front">
          <h1>Diciembre</h1>
        </div>
        <div class="flip-card-back">
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cumpleaños </th>
                       
                        
                    </tr>
                </thead>
                </table>
        </div>
    </div>
 </div>

</div>