<div class="col-12">
    <h4 class="mt-4">Registrar por Token</h4>
    <hr>
    <!-- Registro de uusarios RH -->
    <div class="col contenido-principal rounded">
        <form class="row">
            <div class="col mt-2">
                <div class="mt-2">
                    <h6 class="subtitle border-bottom">Generar token</h6>
                </div>
                <label class="mt-3">Correo electrónico:<span class="spa">*</span></label>
                <input #correo type="text" class="form-control" id="correo_token" placeholder="Ingrese un coreo electrónico">
                <label class="mt-3">Area:<span class="spa">*</span></label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <select class="custom-select" #area>
                        <option selected>Selecciona un area...</option>
                        <option value="docente">Docente</option>
                        <option value="mantenimiento">Mantenimiento</option>
                        <option value="intendente">Intendente</option>
                        <option value="administrativo">Administrativo</option>
                        <option value="auxiliar">Auxiliar</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="" aria-describedby="basic-addon1" value="{{token}}" name="token-text" readonly>
            <div class="input-group-prepend">
                <button class="btn btn-success" data-target="#fm-modal" (click)="generarToken(correo.value, area[area.selectedIndex].text)">Generar/Enviar</button>
            </div>
            <div class="w-100"></div>
            <small id="emailHelp" class="form-text text-muted">ejemplo de token: jdw23fd0l1</small>
        </div>
    </div>
</div>