<h4 class="mt-3">Descargar archivos</h4>
<hr>
<div class="card">
  <div class="cabecera-descargar-archivos card-header">
    <h5>Descargar resultados de encuestas</h5>
  </div>
  <div class="card-body">
    <table class="table  table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo de empleado</th>
          <th scope="col">Encuesta realizada</th>
          <th scope="col">Opción</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Raul Alberto Hernandez</td>
          <td>Docente</td>
          <td>Clima laboral</td>
          <td> <button class="fas fa-download btn btn-outline-primary"></button></td>
        </tr>


        <tr>
          <td>Gerardo Joaquin Martinez</td>
          <td>Docente</td>
          <td>Clima laboral</td>
          <td> <button class="fas fa-download btn btn-outline-primary"></button></td>
        </tr>


        <tr>
          <td>Jose Medellin Meliton</td>
          <td>Administrativo</td>
          <td>Encuesta 2</td>
          <td> <button class="fas fa-download btn btn-outline-primary"></button></td>
        </tr>


        <tr>
          <td>Jesus Emmanuel De Leon</td>
          <td>Administrativo</td>
          <td>Clima laboral</td>
          <td> <button class="fas fa-download btn btn-outline-primary"></button></td>
        </tr>


        <tr>
          <td>Juan Carlos Lopez</td>
          <td>Auxiliar</td>
          <td>Clima laboral</td>
          <td> <button class="fas fa-download btn btn-outline-primary"></button></td>
        </tr>




      </tbody>
    </table>
  </div>
</div>