<app-navbar></app-navbar>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <app-sidebar></app-sidebar>
    </div>
    
    <!-- subpaginas -->
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <main>
                <div class="row">
                    <!-- Contenido centro principal -->
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <router-outlet></router-outlet>
                    </div>

                    <div id="l" class="col-3 d-none d-sm-none d-md-none d-lg-block">
                        <div class="root">
                            <!-- barra lateral derecha -->
                            <!-- calendario -->
                            <app-calendario></app-calendario>
                            <!--  notas-->
                            <app-notas></app-notas>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

