<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <app-sidebar></app-sidebar>
    </div>
    <!-- subpaginas -->
    <div id="layoutSidenav_content">
        <div class="container-fluid">
            <main>
                <div class="row">
                    <div class="col-9 contenido-principal mt-2">
                        <router-outlet></router-outlet>
                    </div>
                    <div id="l" class="col-3 d-none d-lg-block">
                        <div class="root">
                            <!-- BARRA LATERAL DERECHA -->
                            <!-- CALENDARIO -->
                            <app-calendario></app-calendario>
                            <!--                NOTAS-->
                            <app-notas></app-notas>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>