<div class="d-flex">
    <div class="p-2"><h4>Avances</h4></div>
    <div class="ml-auto p-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Encuesta
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Clima laboral</a>
              <a class="dropdown-item" href="#">Encuesta 2</a>
            </div>
          </div>
    </div>
</div>


<hr>    
<table class="table table-lg table-bordered table-responsive-lg">
    <thead class="table-primary">
        <tr>
            <th>Área</th>
            <th>Encuesta</th>
            <th>Porcentaje</th>
        </tr>
    </thead>
    <tr class="table">
        <td>Docente</td>
        <td>Clima laboral</td>
        <td>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>
        </td>
    </tr>
    <tr class="table">
        <td>Docente</td>
        <td>Encuesta 2</td>
        <td>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
        </td>
    </tr>
    <tr class="table">
        <td>Administrativo</td>
        <td>Clima laboral</td>
        <td>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
        </td>
    </tr>
    <tr class="table">
        <td>Auxiliar</td>
        <td>Clima laboral</td>
        <td>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
        </td>
    </tr>
    <tr class="table">
        <td>Docente</td>
        <td>Encuesta 2</td>
        <td>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
              </div>
        </td>
    </tr>
</table>