<div class="col-12 contenido-principal mt-3">
    <div class="col-12">
        <h4 class="mt-4">Residencias</h4>
        <hr>
    </div>
</div>

<div class="container">
    <h5 class="text-info"> <span> <i class="fas fa-upload"></i> </span> Subir archivos iniciales</h5>
    <div class="linea"></div>




    <h5 class="text-info"> <span> <i class="fas fa-upload"></i> </span> Descargar archivos</h5>
    <div class="linea"></div>


    <h5 class="text-info"> <span> <i class="fas fa-upload"></i> </span> Subir archivos en proceso</h5>
    <div class="linea"></div>
</div>