<div class="col-12 contenido-principal mt-3">
    <div class="col-12">
        <h4 class="mt-4">Aprobación de horarios <span class="badge badge-primary"> ISC</span> </h4>
        <hr>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-xl-12 col-lg-12 col-md-6 col-sm-12 col-xs-12">

            <!-- actividades exptraescolares -->
            <div class="carga-academica card shadow bg-white rounded mt-3">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="p-2">
                            <h6 class="titulo-card">Horarios pendientes</h6>
                        </div>
                        <div class="ml-auto">
                            <a class="nav-link espaciado-nav-btn"> <i class="fas fa-question-circle"></i>
                            </a>
                        </div>
                    </div>

                    <!-- <div class="container">
                        <div class="input-group mt-3 mb-3">
                            <input type="text" class="form-control" placeholder="No. Control"
                                aria-label="Buscar por N. Control" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-info" type="button" id="button-addon2">Buscar</button>
                            </div>
                        </div>
                    </div> -->

                </div>
                <div class="card-body card-body-pendientes">

                    <!-- Lista de horarios pendientes -->
                    <ul class="list-group">
                        <a class="list-group-item list-group-item-action">
                            <div class="flex-column">
                                <div class="d-flex">
                                    <div class="p-2">
                                        <h6 class="titulo-materia mt-1">Jesus Emmanuel De Leon Lerma</h6>

                                    </div>

                                    <div class="ml-auto p-2">
                                        <span class=" ml-1 mt-1 span-materias badge badge-info badge-pill">1
                                            semestre</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a class="list-group-item list-group-item-action">
                            <div class="flex-column">
                                <div class="d-flex">
                                    <div class="p-2">
                                        <h6 class="titulo-materia">Raul Alberto Hernandez Arguelles</h6>

                                    </div>

                                    <div class="ml-auto p-2">
                                        <span class=" ml-1 mt-1 span-materias badge badge-info badge-pill">1
                                            semestre</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a class="list-group-item list-group-item-action">
                            <div class="flex-column">
                                <div class="d-flex">
                                    <div class="p-2">
                                        <h6 class="titulo-materia">Gerardo Joaquin Martinez Hernandez</h6>

                                    </div>

                                    <div class="ml-auto p-2">
                                        <span class=" ml-1 mt-1 span-materias badge badge-info badge-pill">1
                                            semestre</span>
                                    </div>
                                </div>
                            </div>
                        </a>


                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- informacion  -->
    <h5 class="text-info mt-5"> <span><i class="fas fa-info-circle"></i> </span> Información</h5>
    <div class="linea"></div>

        <div class="card-body">
            <div class="container">
                <form>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input readonly placeholder="Jesus Emmanuel De Leon Lerma" type="text" class="form-control"
                            id="nombre" aria-describedby="emailHelp">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label for="numero">Número de control:</label>
                            <input readonly placeholder="1701F0163" type="text" class="form-control" id="numero">
                        </div>

                        <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label for="semestre">Semestre:</label>
                            <input readonly placeholder="Séptimo semestre" type="text" class="form-control"
                                id="semestre">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label for="creditosa">Créditos autorizados:</label>
                            <input readonly placeholder="32" type="text" class="form-control" id="creditosa"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label for="creditos">Créditos solicitados:</label>
                            <input readonly placeholder="10" type="text" class="form-control" id="creditos"
                                aria-describedby="emailHelp">
                        </div>
                    </div>


                    <h6>Materias a autorizar:</h6>
                    <div class="contenedor-materias">
                        <ul class="list-group">
                            <a class="list-group-item list-group-item-action">
                                <div class="flex-column">
                                    <h6 class="titulo-materia mt-2 ml-2">Cálculo vectorial</h6>
                                    <div class="container">
                                        <div class="d-flex">
                                            <div>
                                                <p><small>Roberto Rangel</small></p>
                                            </div>
                                            <p class="ml-2"> <span class="badge badge-info"> 5 créditos </span> </p>
                                            <div class="ml-auto ">
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">Aceptar
                                                        materia</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>

                            <a class="list-group-item lista-materias list-group-item-action">
                                <div class="flex-column">
                                    <h6 class="titulo-materia mt-2 ml-2">Programación web</h6>
                                    <div class="container">
                                        <div class="d-flex">
                                            <div>
                                                <p><small>Roberto Rangel</small></p>
                                            </div>
                                            <p class="ml-2"> <span class="badge badge-info"> 5 créditos </span> </p>
                                            <div class="ml-auto ">
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">Aceptar
                                                        materia</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>


                        </ul>
                    </div>



                    <hr>
                    <div class="container">
                        <div class="row justify-content-end">
                            <button class="btn btn-sm btn-success">Confirmar</button>
                            <button class="btn btn-sm btn-secondary ml-2">Rechazar</button>
                        </div>
                    </div>


                </form>

            </div>
        </div>
 

 
</div>