<h2 class="mt-2">Recursos humanos</h2>
<ul class="nav nav-pills mb-2">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['avisos']">Avisos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['cumpleanios']">Cumpleaños</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['personal']">Personal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['registro-empleados']">Registro de empleados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['registro-token']">Registro por token</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['reportes']">Reportes</a>
    </li>
</ul>
<router-outlet></router-outlet>