<!-- CONTENIDO ENCUESTAS -->
<div class="col-12 contenido-principal mt-3">
    <div class="col-12">
        <h4 class="mt-4">Actualizar Información</h4>
        <hr>
        <form name="frmActualizar" class="form-group row justify-content-center mt-5">
            <div class="col-md-6 col-sm-12">
                <label>Nombre:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                <label class="mt-3">Apellido paterno:<span class="spa">*</span></label>
                <input type="text" class="form-control mt-" id="apellidopaterno" placeholder="Ingrese su apellido paterno">
                <label class="mt-3">Apellido materno:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="apellidomaterno" placeholder="Ingrese su apellido materno">
                <label class="mt-3">Fecha de nacimiento:<span class="spa">*</span></label>
                <input type="date" class="form-control" id="fechanacimiento" placeholder="Ingrese la fecha de nacimiento">
                <label class="mt-3">Numero de celular:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="celular" placeholder="Ingrese su contraseña">
                <label class="mt-3">Código Postal:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="cp" placeholder="Ingrese su contraseña">
                <label class="mt-3">Ciudad:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="ciudad" placeholder="Ingrese su contraseña">
            </div>
            <div class="col-md-6 col-sm-12">
                <label>Estado:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="estado" placeholder="Ingrese el estado">
                <label class="mt-3">Municipio:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="municipio" placeholder="Ingrese el municipio">
                <label class="mt-3">Colonia:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="colonia" placeholder="Ingrese su colonia">
                <label class="mt-3">Calle:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="calle" placeholder="Ingrese la calle">
                <label class="mt-3">Nº Interior:</label>
                <input type="text" class="form-control" id="ninterior" placeholder="Ingrese el numero interior">
                <label class="mt-3">Nº Exterior:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="nexterior" placeholder="Ingrese su numero exterior">
                <label class="mt-3">Correo:<span class="spa">*</span></label>
                <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo">
            </div>
        </form>
        <form class="form-group row justify-content-center mt-3">
            <div class="col-md-6 col-sm-12">
                <label>Contraseña:<span class="spa">*</span></label>
                <input type="password" class="form-control" id="contrasena" placeholder="Ingrese una contraseña">
            </div>
            <div class="col-md-6 col-sm-12">
                <br class="d-lg-none d-md-none d-sm-block d-xs-block">
                <label>Confirmar contraseña:<span class="spa">*</span></label>
                <input type="password" class="form-control" id="confirmarcontrasena" placeholder="confirme su contraseña">
            </div>
        </form>
    </div>
    <hr class="mt-3">
    <div class="row mt-3">
        <div class="col">
            <label> <span class="spa">*</span>Campos obligatorios</label>
        </div>
        <div class="row flex-row-reverse mr-5 mb-5">
            <button class="btn btn-success" data-target="#fm-modal" id="btn-confirmar">Confirmar</button>
        </div>
    </div>
</div>