<div class="col-12">
    <h4 class="mt-4">Personal</h4>
    <hr />
    <div class="row mt-3">
        <div class="col">
            <table class="table table-sm table-hover table-bordered table-responsive-lg">
                <thead class="table-success">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Fecha de nac.</th>
                        <th>Colonia</th>
                        <th>Calle</th>
                    </tr>
                </thead>
                <tr class="table">
                    <td>Raul Alberto</td>
                    <td>Hernandez</td>
                    <td>Arguelles</td>
                    <td>02/07/1999</td>
                    <td>Linares</td>
                    <td>Sendero</td>
                </tr>
                <tr class="table">
                    <td>Gerardo Joaquin</td>
                    <td>Martinez</td>
                    <td>Hernandez</td>
                    <td>02/07/1999</td>
                    <td>Linares</td>
                    <td>Sendero</td>
                </tr>
                <tr class="table">
                    <td>Jose Medellin</td>
                    <td>Meliton</td>
                    <td>Gonzalez</td>
                    <td>02/07/1999</td>
                    <td>Linares</td>
                    <td>Sendero</td>
                </tr>
                <tr class="table">
                    <td>Juan Carlos</td>
                    <td>Lopez</td>
                    <td>Gonzalez</td>
                    <td>02/07/1999</td>
                    <td>Linares</td>
                    <td>Sendero</td>
                </tr>
                <tr class="table">
                    <td>Luis Antonio</td>
                    <td>Estrada</td>
                    <td>Villegas</td>
                    <td>02/07/1999</td>
                    <td>Linares</td>
                    <td>Sendero</td>
                </tr>
                <tr class="table">
                    <td>Miguel Edgardo</td>
                    <td>Santiago</td>
                    <td>Hernandez</td>
                    <td>02/07/1999</td>
                    <td>Linares</td>
                    <td>Sendero</td>
                </tr>
                <tr class="table ">
                    <td>Jose Armando</td>
                    <td>Tovar</td>
                    <td>Sanchez</td>
                    <td>02/07/1999</td>
                    <td>Linares</td>
                    <td>Sendero</td>
                </tr>
                <tr class="table ">
                    <td>Angel Eduardo</td>
                    <td>Catedral</td>
                    <td>Gonzalez</td>
                    <td>02/07/1999</td>
                    <td>Linares</td>
                    <td>Sendero</td>
                </tr>
                <tr class="table ">
                    <td>Jesus Emmanuel</td>
                    <td>De Leon</td>
                    <td>Lerma</td>
                    <td>02/07/1999</td>
                    <td>Linares</td>
                    <td>Sendero</td>
                </tr>
            </table>
            <a class="btn btn-primary mb-1 " href="#">Ver</a>
        </div>
    </div>
</div>