<div class="col-12">
    <h4 class="mt-4">Personal</h4>
    <hr />
    <div class="row mt-3">
        <div class="col">
            <table class="table table-sm table-hover table-bordered table-responsive-lg">
                <thead class="table-success">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Fecha de nac.</th>
                        <th>Colonia</th>
                        <th>Calle</th>
                    </tr>
                </thead>
                <tr class="table" *ngFor="let item of personal">
                    <td>{{item.nombres}}</td>
                    <td>{{item.apellido_paterno}}</td>
                    <td>{{item.apellido_materno}}</td>
                    <td>{{item.fecha_de_nacimiento | date}}</td>
                    <td>{{item.colonia}}</td>
                    <td>{{item.calle}}</td>
                </tr>
            </table>
            <a class="btn btn-primary mb-1 " href="#">Ver</a>
        </div>
    </div>
</div>