<div class="col-12">
    <h4 class="mt-4">Avisos</h4>
    <hr />
    <div class="col contenido-principal mt-4 rounded">
        <div class="col">
            <div class=" "></div>
            <div class="row justify-content-center">
                <div class="col-12">



                    <div id="accordion">
                        <!-- cumpleaños -->
                        <div class="card">
                            <div class="card-header card-avisos-cumpleaños" id="headingOne">
                                <div class="d-flex">
                                    <div class="p-2">
                                        <h1>Cumpleaños</h1>
                                    </div>
                                    <div class="ml-auto p-2">
                                        <h5 class="mb-0">
                                            <button class="fas fa-angle-down btn btn-outline-light mt-2"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            </button>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">

                                                <div class="d-flex">
                                                    <div class="ml-auto p-2"><button class="btn btn-primary"
                                                            type="submit" form="frmAvisos" id="btn-abrirAvisos" href="#"
                                                            data-toggle="modal" data-target="#fn-modal">
                                                            Agregar aviso
                                                        </button></div>
                                                </div>

                                                <table class="table table-sm table-hover table-bordered  ">
                                                    <thead>
                                                        <tr>
                                                            <th>Mensaje</th>
                                                            <th>Fecha de inicio</th>
                                                            <th>Fecha de cadocidad</th>
                                                            <th>Opción</th>
                                                        </tr>
                                                    </thead>
                                                    <tr class="table">
                                                        <td>Felicitaciones al viejillo por sus 100 años</td>
                                                        <td>01/09/2020</td>
                                                        <td>07/09/2020</td>
                                                        <td><button class="btn btn-outline-primary" type="submit"
                                                                form="frmAvisos" id="btn-abrirAvisos" href="#"
                                                                data-toggle="modal"
                                                                data-target="#fn-modal">Editar</button></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- eventos -->
                        <div class="card">
                            <div class="card-header card-avisos-eventos" id="headingTwo">
                                <div class="d-flex">
                                    <div class="p-2"><h1>Eventos</h1></div>
                                    <div class="ml-auto p-2">
                                        <h5 class="mb-0">
                                            <button class="fas fa-angle-down btn btn-outline-light mt-2 collapsed"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            </button>
                                        </h5>
                                    </div>
                                </div>

                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">

                                                <div class="d-flex">
                                                    <div class="ml-auto p-2"><button class="btn btn-primary"
                                                            type="submit" form="frmAvisos" id="btn-abrirAvisos" href="#"
                                                            data-toggle="modal" data-target="#fn-modal">
                                                            Agregar aviso
                                                        </button></div>
                                                </div>

                                                <table class="table table-sm table-hover table-bordered  ">
                                                    <thead>
                                                        <tr>
                                                            <th>Mensaje</th>
                                                            <th>Fecha de inicio</th>
                                                            <th>Fecha de cadocidad</th>
                                                            <th>Opción</th>
                                                        </tr>
                                                    </thead>
                                                    <tr class="table">
                                                        <td>Navidad asies</td>
                                                        <td>01/09/2020</td>
                                                        <td>07/09/2020</td>
                                                        <td><button class="btn btn-outline-primary" type="submit"
                                                                form="frmAvisos" id="btn-abrirAvisos" href="#"
                                                                data-toggle="modal"
                                                                data-target="#fn-modal">Editar</button></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- encuestas -->
                        <div class="card">
                            <div class="card-header card-avisos-encuestas" id="headingThree">
                                <div class="d-flex">
                                    <div class="p-2">
                                        <h1>Encuestas</h1>
                                    </div>
                                    <div class="ml-auto p-2">
                                        <h5 class="mb-0">
                                            <button class="fas fa-angle-down btn btn-outline-light mt-2 collapsed"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            </button>
                                        </h5>
                                    </div>
                                </div>

                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">

                                                <div class="d-flex">
                                                    <div class="ml-auto p-2"><button class="btn btn-primary"
                                                            type="submit" form="frmAvisos" id="btn-abrirAvisos" href="#"
                                                            data-toggle="modal" data-target="#fn-modal">
                                                            Agregar aviso
                                                        </button></div>
                                                </div>

                                                <table class="table table-sm table-hover table-bordered  ">
                                                    <thead>
                                                        <tr>
                                                            <th>Mensaje</th>
                                                            <th>Fecha de inicio</th>
                                                            <th>Fecha de cadocidad</th>
                                                            <th>Opción</th>
                                                        </tr>
                                                    </thead>
                                                    <tr class="table">
                                                        <td>Clima laboral</td>
                                                        <td>01/09/2020</td>
                                                        <td>07/09/2020</td>
                                                        <td><button class="btn btn-outline-primary" type="submit"
                                                                form="frmAvisos" id="btn-abrirAvisos" href="#"
                                                                data-toggle="modal"
                                                                data-target="#fn-modal">Editar</button></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>



                    <div class="modal fade" id="fn-modal" tabindex="-1" role="dialog" aria-labelledby="fn-modal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                            <img class="ilustracion-modal d-none d-xs-none d-sm-none d-md-block d-lg-block"
                                                src="/../../assets/img/agregar-aviso.svg" alt="">
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                            <form method="" action="#" onsubmit="return form_clic(frmNotas)">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <h3>Aviso:</h3>
                                                        <textarea class="form-control" id="notaDescripcion" rows="3"
                                                            placeholder="Escriba aquí..."></textarea>
                                                        <br>
                                                        <h6>Fecha de inicio:</h6>
                                                        <input type="date" class="form-control" id="fechaInicio"
                                                            placeholder="Inicio">
                                                        <br>
                                                        <h6>Fecha cadocidad:</h6>
                                                        <input type="date" class="form-control" id="fechaInicio"
                                                            placeholder="Inicio">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                    <button class="btn btn-primary" onclick="form_click()" type="submit"
                                                        form="frmRecupera">Publicar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>