/* estilos de encuestas */

.pregunta {
    font-size: 20px;
    color: #099efc;
}

.center-encuestas {
    min-height: 570px;
    overflow-y: scroll;
}

.btn-guardar {
    position: relative;
    left: 80%;
}