<!-- CONTENIDO ENCUESTAS -->
<div class="col">
    <div class="col mt-3">
        <h4 class="mt-4">Subir Archivos</h4>
        <hr>
    </div>
    <label class="ml-5 mb-5 text-muted">El documento debe estar en formato JPG o PDF y pesar
        menos de 400kb.</label>

    <div class="col-12">

        <div class="d-flex">
            <div class="p-2">
                <h6>Acta de nacimiento</h6>
            </div>
            <div class="ml-auto p-2">
                <h6 class="badge badge-success">Completo</h6>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                    id="btn-registrarse1">Subir archivo</button>
            </div>
        </div>
        <hr>

        <div class="d-flex">
            <div class="p-2">
                <h6>RFC</h6>
            </div>
            <div class="ml-auto p-2">
                <h6 class="badge badge-danger">Falta</h6>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                    id="btn-registrarse2">Subir archivo</button>
            </div>
        </div>
        <hr>

        <div class="d-flex">
            <div class="p-2">
                <h6>Curp</h6>
            </div>
            <div class="ml-auto p-2">
                <h6 class="badge badge-success">Completo</h6>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                    id="btn-registrarse3">Subir archivo</button>
            </div>
        </div>
        <hr>

        <div class="d-flex">
            <div class="p-2">
                <h6>INE</h6>
            </div>
            <div class="ml-auto p-2">
                <h6 class="badge badge-success">Completo</h6>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                    id="btn-registrarse4">Subir archivo</button>
            </div>
        </div>
        <hr>

        <div class="d-flex">
            <div class="p-2">
                <h6>Comprobante de domicilio</h6>
            </div>
            <div class="ml-auto p-2">
                <h6 class="badge badge-danger">Falta</h6>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                    id="btn-registrarse5">Subir archivo</button>
            </div>
        </div>
        <hr>

        <div class="d-flex">
            <div class="p-2">
                <h6>CV solicitud</h6>
            </div>
            <div class="ml-auto p-2">
                <h6 class="badge badge-danger">Falta</h6>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                    id="btn-registrarse6">Subir archivo</button>
            </div>
        </div>
        <hr>

        <div class="d-flex">
            <div class="p-2">
                <h6>Kardex Certificación</h6>
            </div>
            <div class="ml-auto p-2">
                <h6 class="badge badge-danger">Falta</h6>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                    id="btn-registrarse7">Subir archivo</button>
            </div>
        </div>
        <hr>

        <div class="d-flex">
            <div class="p-2">
                <h6>Titulo</h6>
            </div>
            <div class="ml-auto p-2">
                <h6 class="badge badge-success">Completo</h6>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                    id="btn-registrarse8">Subir archivo</button>
            </div>
        </div>
        <hr>

        <div class="d-flex">
            <div class="p-2">
                <h6>Cédula profesional</h6>
            </div>
            <div class="ml-auto p-2">
                <h6 class="badge badge-success">Completo</h6>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                    id="btn-registrarse9">Subir archivo</button>
            </div>
        </div>
        <hr>

        <div class="d-flex">
            <div class="p-2">
                <h6>Maestria</h6>
            </div>
            <div class="ml-auto p-2">
                <h6 class="badge badge-success">Completo</h6>
            </div>
            <div class="p-2">
                <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                    id="btn-registrarse10">Subir archivo</button>
            </div>
        </div>
        <hr>

    </div>

    <div class="modal fade" id="modal-archivos" tabindex="-1" role="dialog" aria-labelledby="modal-archivos"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="">Subir archivos</h2>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name='frmRecupera' id="frmRecupera" class="frmRecupera" method="" action="#"
                    onsubmit="return form_clic(frmRecupera)">
                    <div class="modal-body">
                        <form method="post" action="" enctype="multipart/form-data">
                            <input type="file" id="archivo" name="archivo" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="btn-upload" class="btn btn-outline-success" data-dismiss="modal">Subir
                            archivo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="modal" id="fn-modal" tabindex="-1" role="dialog" aria-labelledby="fn-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content ">
                <div class="pre-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-outline-success" data-dismiss="modal" id="btn-upload">Subir archivo</button>
                </div>
            </div>
        </div>
    </div>

</div>



     <!-- <div class="row">
        <div class="col">
            <label class="ml-5">Acta de nacimiento</label>
        </div>
        <div class="row flex-row-reverse mr-5">
            <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                id="btn-registrarse1">Subir archivo</button>
            <h6 class="badge badge-success">Completo</h6>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="row">
        <div class="col">
            <label class="ml-5">RFC</label>
        </div>
        <div class="row flex-row-reverse mr-5">
            <button class="btn btn-outline-success ml-2" href="#" data-toggle="modal" data-target="#modal-archivos"
                id="btn-registrarse2">Subir archivo</button>
            <h6 class="badge badge-danger">Falta</h6>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="row">
        <div class="col">
            <label class="ml-5">Curp</label>
        </div>
        <div class="row flex-row-reverse mr-5">
            <button class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#modal-archivos"
                id="btn-registrarse3">Subir archivo</button>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="row">
        <div class="col">
            <label class="ml-5">INE</label>
        </div>
        <div class="row flex-row-reverse mr-5">
            <button class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#modal-archivos"
                id="btn-registrarse4">Subir archivo</button>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="row">
        <div class="col">
            <label class="ml-5">Comprobante de domicilio</label>
        </div>
        <div class="row flex-row-reverse mr-5">
            <button class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#modal-archivos"
                id="btn-registrarse5">Subir archivo</button>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="row">
        <div class="col">
            <label class="ml-5">CV Solicitud</label>
        </div>
        <div class="row flex-row-reverse mr-5">
            <button class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#modal-archivos"
                id="btn-registrarse6">Subir archivo</button>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="row">
        <div class="col">
            <label class="ml-5">Kardex Certificación</label>
        </div>
        <div class="row flex-row-reverse mr-5">
            <button class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#modal-archivos"
                id="btn-registrarse7">Subir archivo</button>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="row">
        <div class="col">
            <label class="ml-5">Titulo</label>
        </div>
        <div class="row flex-row-reverse mr-5">
            <button class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#modal-archivos"
                id="btn-registrarse8">Subir archivo</button>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="row">
        <div class="col">
            <label class="ml-5">Cedula profesional</label>
        </div>
        <div class="row flex-row-reverse mr-5">
            <button class="btn btn-outline-success" href="#" data-toggle="modal" data-target="#modal-archivos"
                id="btn-registrarse9">Subir archivo</button>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="row">
        <div class="col">
            <label class="ml-5">Maestria</label>
        </div>
        <div class="row flex-row-reverse mr-5">
            <button class="btn btn-outline-success" id="btn-registrarse10" href="#" data-toggle="modal"
                data-target="#modal-archivos">Subir archivo</button>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="modal fade" id="modal-archivos" tabindex="-1" role="dialog" aria-labelledby="modal-archivos"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="">Subir archivos</h2>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name='frmRecupera' id="frmRecupera" class="frmRecupera" method="" action="#"
                    onsubmit="return form_clic(frmRecupera)">
                    <div class="modal-body">
                        <form method="post" action="" enctype="multipart/form-data">
                            <input type="file" id="archivo" name="archivo" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="btn-upload" class="btn btn-outline-success" data-dismiss="modal">Subir
                            archivo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="ml-5 mr-5">
    <div class="modal" id="fn-modal" tabindex="-1" role="dialog" aria-labelledby="fn-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content ">
                <div class="pre-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-outline-success" data-dismiss="modal" id="btn-upload">Subir archivo</button>
                </div>
            </div>
        </div>
    </div>
  -->