<div class="col-12">
    <h4 class="mt-4">Registrar Empleado</h4>
    <hr>
    <!-- Registro de uusarios RH -->
    <div class="col contenido-principal rounded">
        <form class="row">
            <div class="col-md-6 mt-1">
                <div class="mt-4">
                    <h6 class="subtitle border-bottom">Información básica</h6>
                </div>
                <label>Nombre(s):<span class="spa">*</span></label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                <label class="mt-3">Apellido paterno:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="apellidopaterno" placeholder="Ingrese su apellido paterno">
                <label class="mt-3">Apellido materno:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="apellidomaterno" placeholder="Ingrese su apellido materno">
                <label class="mt-3">Fecha de nacimiento:<span class="spa">*</span></label>
                <input type="date" class="form-control" id="fechaNacimiento" placeholder="Ingrese la fecha de nacimiento">
                <label class="mt-3">Estado:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="estado" placeholder="Ingrese su estado">
                <label class="mt-3">Ciudad:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="ciudad" placeholder="Ingrese su ciudad">
                <label class="mt-3">Municipio:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="municipio" placeholder="Ingrese su ciudad">
                <label class="mt-3">Codigo Postal:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="codigoPostal" placeholder="Ingrese su ciudad">
                <label class="mt-3">Area:<span class="spa">*</span></label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <select class="custom-select" id="tipoEmpleado">
                        <option selected>Selecciona un area...</option>
                        <option value="1">Docente</option>
                        <option value="2">Mantenimiento</option>
                        <option value="3">Intendente</option>
                        <option value="4">Administrativo</option>
                        <option value="5">Auxiliar</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mt-1">
                <div class="mt-4">
                    <h6 class="subtitle border-bottom">Información de contacto</h6>
                </div>
                <label>Colonia:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="colonia" placeholder="Ingrese su colonia">
                <label class="mt-3">Calle:<span class="spa">*</span></label>
                <input type="text" class="form-control mt-" id="calle" placeholder="Ingrese su calle">
                <label class="mt-3">Número exterior:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="numExterior" placeholder="Ingrese su número exterior">
                <label class="mt-3">Número interior:<span class="spa-no">*</span></label>
                <input type="text" class="form-control" id="numInterior" placeholder="Ingrese su número interior">
                <label class="mt-3">Correo electrónico:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="correo" placeholder="Ingrese su coreo electrónico">
                <label class="mt-3">Número de celular:<span class="spa">*</span></label>
                <input type="text" class="form-control" id="numCelular" placeholder="Ingrese su número de celular">
                <label class="mt-3">Contraseña:<span class="spa">*</span></label>
                <input type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña">
                <label class="mt-3">Confirmar contraseña:<span class="spa">*</span></label>
                <input type="password" class="form-control" id="ConfirmarContraseña" placeholder="Confirme su contraseña ">
            </div>
        </form>
        <div class="row flex-row-reverse mr-1 mb-3">
            <button class="btn btn-success" data-target="#fm-modal" id="btn-registrar">Registrar</button>
        </div>
    </div>
</div>