<app-navbar-inicio></app-navbar-inicio>

<div class="padre">
    <div class="principal d-flex align-items-center justify-content-center">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                <div class="login">
                    <h4 for="datos">Ingrese los datos</h4>
                    <div class="form-group">
                        <label for="correp">Correo:</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su correo" #correo>
                        <small id="emailHelp" class="form-text text-muted">Ejemplo del correo:
                            RaulLiderDev@itsmante.edu.mx.</small>
                    </div>
                    <div class="form-group">
                        <label for="contraseña">Contraseña:</label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña" #contrasena>
                        <a href="#" data-toggle="modal" data-target="#fm-modal">¿Olvidaste tu contraseña?</a><br>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="recordar" #recordar>
                        <label class="form-check-label" for="recordar">Recuerdame</label>
                    </div>
                    <br>
                    <a class="btn btn-primary btn-block" (click)="iniciarSesion(correo.value, contrasena.value, recordar.checked)">Iniciar
                        sesión</a>



                    <div class="modal fade" id="fm-modal" tabindex="-1" role="dialog" aria-labelledby="fm-modal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <img class="ilustracion-modal d-none d-xs-none d-sm-none d-md-block d-lg-block" src="/../../assets/img/recuperar-contrasena.svg" alt="">
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <div class="modal-header">
                                                <h2 class="modal-title" id="">Recuperar contraseña</h2>
                                                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <form name='frmRecupera' id="frmRecupera" class="frmRecupera" method="" action="#" onsubmit="return form_clic(frmRecupera)">
                                                <div class="modal-body">
                                                    <h5>Ingrese su correo para recuperar su contraseña</h5>
                                                    <div class="form-group">
                                                        <label for="correo:">Correo:</label>
                                                        <input id="correoRecuperar" name="correoRecuperar" type="email" class="form-control" placeholder="Ingrese su correo">
                                                        <small id="emailHelp" class="form-text text-muted">Ejemplo del
                                                            correo:
                                                            RaulLiderDev@itsmante.edu.mx.</small>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button class="btn btn-primary" onclick="form_click()" type="submit" form="frmRecupera">Recuperar</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>