<app-navbar-inicio></app-navbar-inicio>
<div class="home">
<div class="header-home">
    <section class="textos-header">
        <h1>Sistema Integral de Información</h1>
        <h2>Academica Administrativa</h2>
       
    </section>

   
     <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
        
    </div> 
</div>

<section>
    <div class="contenedor-informacion">
        <h2 class="titulo"> El SIIAA es un servicio que permite a todos los tecnológicos de México tener un registro
            de todos sus trabajadores junto con todos sus documentos oficiales para un buen,anejo de la informacion.
            Así como tambien realizar encuestas propias del
            tecnológico para mejorar el desempeño de todos y cada uno de los miembros de la familia del TEC.
        </h2>
    </div>
</section>
<main>
    
    <section>
        <div class="contenedor-informacion">
            <div class="row">
                <div class="col">
                    <div class="row justify-content-center">
                        <a class="btn btn-outline-success mr-2" id="btn-registrarse" [routerLink]="['/login']">Iniciar
                            sesión</a>
                        <a class="btn btn-success" id="btn-registrarse" [routerLink]="['/registro']">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="contenedor-informacion">
            <div class="row">
                <div class="col">
                    <div class="row justify-content-center">
                        <img src="assets/img/grafica.png" height="250" width="250">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</div>
