<div class="row">
    <div class="col-12">
        <div class="carousel slide" id="principal-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#principal-carousel" data-slid-to="0" class="active"></li>
                <li data-target="#principal-carousel" data-slid-to="1"></li>
                <li data-target="#principal-carousel" data-slid-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-block">
                        <h4>Titulo de la Imagen</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, possimus!</p>
                    </div>
                    <img src="assets/img/imagenPortada1.png" class="w-100" alt="">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-block">
                        <h4>Titulo de la Imagen</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, possimus!</p>

                    </div>
                    <img src="assets/img/imagenPortada22.png" class="w-100" alt="">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-block">
                        <h4>Titulo de la Imagen</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, possimus!</p>
                    </div>
                    <img src="assets/img/imagenPortada3.png" class="w-100" alt="">
                </div>
            </div>

            <a href="#principal-carousel" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>

            <a href="#principal-carousel" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="carousel slide" id="principal-carousel" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="carousel-caption d-block">
                        <h4>La encuesta</h4>
                        <h1>Clima laboral</h1>
                        <p>Ya esta disponible</p>
                        <button class="btn btn-success" [routerLink]="['clima-laboral']" type="submit">
                            Haz click aquí para realizar la encuesta
                        </button>
                    </div>
                    <img src="assets/img/imagenPortada22.png" class="w-100" alt="">
                </div>

            </div>
        </div>
    </div>
</div>