<div class="col-12 contenido-principal mt-3">
    <div class="col-12">
        <h4 class="mt-4">Servicio Social</h4>
        <hr>
    </div>
</div>

<div class="container mt-2">
    <form class=" mt-1">

        <div class="card ">
            <div class="card-body p-4 p-sm-5">
                <div class="row">
                    <img class="d-block mx-auto mb-4" src="../../assets/ilustraciones/ilustracion8.svg" alt="Email"
                        width="100" />
                    <div class="text-center">
                        <h3>Carga Académica</h3>
                        <h6 class="display-4 text-info font-weight-bold">80%</h6>
                     </div>
                </div>

            </div>
        </div>


        <h5 class="text-info mt-5"> <span> <i class="fas fa-user-graduate"></i> </span> Alumno</h5>
        <div class="linea"></div>

        <div class="form-group  ">
            <label for="nombre">Nombre:</label>
            <input readonly placeholder="Jesus Emmanuel" type="text" class="form-control" id="nombre"
                aria-describedby="emailHelp">
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Apelliidop">Apellido paterno:</label>
                <input readonly placeholder="De Leon" type="text" class="form-control" id="Apelliidop"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Apelliidom">Apellido materno:</label>
                <input readonly placeholder="Lerma" type="text" class="form-control" id="Apelliidom"
                    aria-describedby="emailHelp">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <label for="Carrera">Carrera:</label>
                <input readonly placeholder="Sistemas Computacionales" type="text" class="form-control" id="Carrera"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label for="Semestre">Semestre:</label>
                <input readonly type="number" class="form-control" id="Semestre" aria-describedby="emailHelp">
            </div>
        </div>



        <h5 class="text-info mt-4"> <span> <i class="fas fa-chalkboard-teacher"></i> </span> Responsable </h5>
        <div class="linea"></div>




        <div class="form-group mt-4">
            <label for="nombrer">Nombre:</label>
            <input readonly placeholder="Roberto Rangel" type="text" class="form-control" id="nombrer"
                aria-describedby="emailHelp">
        </div>


        <div class="form-group ">
            <label for="Cargo">Cargo:</label>
            <input readonly placeholder="Maestro" type="text" class="form-control" id="Cargo"
                aria-describedby="emailHelp">
        </div>

        <div class="form-group  ">
            <label for="institucion">Institución o dependencia:</label>
            <input readonly placeholder="Instituto Tecnológico Superior de El Mante" type="text" class="form-control"
                id="institucion" aria-describedby="emailHelp">
        </div>

        <div class="form-group  ">
            <label for="institucion">Proyecto:</label>
            <input readonly placeholder="Instituto Tecnológico Superior de El Mante" type="text" class="form-control"
                id="institucion" aria-describedby="emailHelp">
        </div>


        <!-- <div class="container mb-4">
            <div class="row justify-content-end">
                <button class="btn btn-outline-success">Guardar</button>

            </div>
        </div> -->

    </form>




    <h5 class="text-info"> <span> <i class="fas fa-download"></i> </span> Descargar Archivos</h5>
    <div class="linea"></div>
    <div class="card-body">
        <div class="row no-gutters mt-4">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pr-lg-2 mb-3 mb-lg-0">
                <div class="card    h-100">
                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center"><img class="d-block mx-auto mb-4"
                                src="../../assets/ilustraciones/ilustracion1.svg" alt="shield" width="100" />
                            <h4>Constancia de Presentación</h4>

                            <a class="imgbtn  imgbtn--cyan  imgbtn--rubber w-100 daicon-download-alt"
                                href="">Descargar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12  pl-lg-2">
                <div class="card ">
                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center"><img class="d-block mx-auto mb-4"
                                src="../../assets/ilustraciones/ilustracion2.svg" alt="Email" width="100" />
                            <h4>Constancia de término de Servicio social</h4>

                            <a class="imgbtn  imgbtn--cyan  imgbtn--rubber w-100 daicon-download-alt"
                                href="">Descargar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <h5 class="text-info"> <span> <i class="fas fa-upload"></i> </span> Subir Archivos</h5>
    <div class="linea"></div>

    <div class="card-body">
        <div class="row no-gutters mt-4">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pr-lg-2 mb-3 mb-lg-0">
                <div class="card    h-100">
                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center"><img class="d-block mx-auto mb-4"
                                src="../../assets/ilustraciones/ilustracion5.svg" alt="shield" width="100" />
                            <h4>Constancia de actividad extraescolar 1</h4>


                            <span class="imgbtn  imgbtn--cyan  imgbtn--rubber w-100 daicon-upload-alt btn-file">
                                Subir archivo <input type="file">
                            </span>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12  pl-lg-2">
                <div class="card ">
                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center"><img class="d-block mx-auto mb-4"
                                src="../../assets/ilustraciones/ilustracion5.svg" alt="Email" width="100" />
                            <h4>Constancia de actividad extraescolar 2</h4>
                            <span class="imgbtn  imgbtn--cyan  imgbtn--rubber w-100 daicon-upload-alt btn-file">
                                Subir archivo <input type="file">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pr-lg-2 mb-3 mb-lg-0">
                <div class="card    h-100">
                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center"><img class="d-block mx-auto mb-4"
                                src="../../assets/ilustraciones/ilustracion2.svg" alt="shield" width="100" />
                            <h4>Carta de ofimática</h4>
                            <span class="imgbtn  imgbtn--cyan  imgbtn--rubber w-100 daicon-upload-alt btn-file">
                                Subir archivo <input type="file">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12  pl-lg-2">
                <div class="card ">
                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center"><img class="d-block mx-auto mb-4"
                                src="../../assets/ilustraciones/ilustracion6.svg" alt="Email" width="100" />
                            <h4>Carta de aceptación</h4>

                            <span class="imgbtn  imgbtn--cyan  imgbtn--rubber w-100 daicon-upload-alt btn-file">
                                Subir archivo <input type="file">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h5 class="text-info"> <span> <i class="fas fa-upload"></i> </span> Subir Reportes</h5>
    <div class="linea"></div>

    <div class="card-body">
        <div class="row no-gutters mt-4">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pr-lg-2 mb-3 mb-lg-0">
                <div class="card    h-100">
                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center"><img class="d-block mx-auto mb-4"
                                src="../../assets/ilustraciones/ilustracion7.svg" alt="shield" width="100" />
                            <h4>Reporte 1</h4>


                            <span class="imgbtn  imgbtn--cyan  imgbtn--rubber w-100 daicon-upload-alt btn-file">
                                Subir archivo <input type="file">
                            </span>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12  pl-lg-2">
                <div class="card ">
                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center"><img class="d-block mx-auto mb-4"
                                src="../../assets/ilustraciones/ilustracion7.svg" alt="Email" width="100" />
                            <h4>Reporte 2</h4>
                            <span class="imgbtn  imgbtn--cyan  imgbtn--rubber w-100 daicon-upload-alt btn-file">
                                Subir archivo <input type="file">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pr-lg-2 mb-3 mb-lg-0">
                <div class="card    h-100">
                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center"><img class="d-block mx-auto mb-4"
                                src="../../assets/ilustraciones/ilustracion7.svg" alt="shield" width="100" />
                            <h4>Reporte 3</h4>
                            <span class="imgbtn  imgbtn--cyan  imgbtn--rubber w-100 daicon-upload-alt btn-file">
                                Subir archivo <input type="file">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12  pl-lg-2">
                <div class="card ">
                    <div class="card-body p-4 p-sm-5">
                        <div class="text-center"><img class="d-block mx-auto mb-4"
                                src="../../assets/ilustraciones/ilustracion6.svg" alt="Email" width="100" />
                            <h4>Reporte final</h4>

                            <span class="imgbtn  imgbtn--cyan  imgbtn--rubber w-100 daicon-upload-alt btn-file">
                                Subir archivo <input type="file">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>