<div class="col-12 contenido-principal mt-3">
    <div class="col-12">
        <h4 class="mt-4">Perfil Alumno</h4>
        <hr>
    </div>
</div>

<div class="container mt-2">
    <form class=" mt-1">


        <h5 class="text-info">Información personal</h5>

        <div class="form-group  ">
            <label for="nombre">Nombre:</label>
            <input readonly placeholder="Jesus Emmanuel" type="text" class="form-control" id="nombre"
                aria-describedby="emailHelp">
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Apelliidop">Apellido paterno:</label>
                <input readonly placeholder="De Leon" type="text" class="form-control" id="Apelliidop"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Apelliidom">Apellido materno:</label>
                <input readonly placeholder="Lerma" type="text" class="form-control" id="Apelliidom"
                    aria-describedby="emailHelp">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Sexo">Sexo:</label>
                <input readonly placeholder="Masculino" type="text" class="form-control" id="Sexo"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="nacimiento">Fecha de nacimiento:</label>
                <input readonly type="date" class="form-control" id="nacimiento" aria-describedby="emailHelp">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="NSS">NSS:</label>
                <input readonly placeholder="4125241454115" type="text" class="form-control" id="NSS"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="sangre">Tipo de sangre:</label>
                <input readonly type="date" class="form-control" id="sangre" aria-describedby="emailHelp">
            </div>
        </div>


        <h5 class="text-info mt-3">Información del domicilio</h5>

        <div class="form-group  ">
            <label for="Calle">Calle:</label>
            <input readonly placeholder="Sendero" type="text" class="form-control" id="Calle"
                aria-describedby="emailHelp">
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Exterior">Número Exterior:</label>
                <input readonly placeholder="110" type="text" class="form-control" id="Exterior"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="interior">Número interior:</label>
                <input readonly placeholder="" type="text" class="form-control" id="interior"
                    aria-describedby="emailHelp">
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="cpostal">Código postal:</label>
                <input readonly placeholder="89930" type="text" class="form-control" id="cpostal"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Colonia">Colonia:</label>
                <input readonly placeholder="Linares" type="text" class="form-control" id="Colonia"
                    aria-describedby="emailHelp">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Ciudad">Ciudad:</label>
                <input readonly placeholder="El Mante" type="text" class="form-control" id="Ciudad"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Estado">Estado:</label>
                <input readonly placeholder="Tamaulipas" type="text" class="form-control" id="Estado"
                    aria-describedby="emailHelp">
            </div>
        </div>


        <h5 class="text-info mt-3">Información de la institución</h5>

        <div class="form-row">
            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Matricula">Matricula:</label>
                <input readonly placeholder="1701f0163" type="text" class="form-control" id="Matricula"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Carrera">Carrera:</label>
                <input readonly placeholder="Ingeniería  en Sistemas Computacionales" type="text" class="form-control"
                    id="Carrera" aria-describedby="emailHelp">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Especialidad">Especialidad:</label>
                <input readonly placeholder="Base de Datos" type="text" class="form-control" id="Especialidad"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Especialidad">Tutor:</label>
                <input readonly placeholder="Roberto Rangel" type="text" class="form-control"
                    id="Especialidad" aria-describedby="emailHelp">
            </div>

        </div>



        <div class="form-group ">
            <label for="Correoi">Correo institucional:</label>
            <input readonly placeholder="deleon.lerma.17163@itsmante.edu.mx" type="text" class="form-control"
                id="Correoi" aria-describedby="emailHelp">
        </div>



        <div class="container mb-4">
            <div class="row justify-content-end">
                <button class="btn btn-outline-success">Guardar</button>

            </div>
        </div>



    </form>


</div>