footer {
    background: rgb(38, 39, 39);
    padding: 1px 0 1px 0;
    margin: auto;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', Helvetica, sans-serif;
    color: white;
    bottom: 0px;
    width: 100%;
}
.container{
    padding: 5px 0 5px 0;
}

.footer-text{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line{
    border-bottom: 1px solid rgb(0, 173, 43);
}

img{
    width: 120px;
    height: 70px;
}

img:hover{
    background: rgb(49, 48, 49);
}

.text-h6{
    font-size: 10px;
    text-align: center;
}

.text-dereccion, .text-contacto{
    font-size: 15px;
    text-align: center;
}

.col-img{
    justify-content: center;
}

h6{
    color: rgb(0, 173, 43);;
    /* color: rgb(0, 123, 255); */
}

h5{
    font-size: 10px;
    text-align: center;
    font-family: 'Poppins', Helvetica, sans-serif;
}