<footer>
   <div class="container">
       <div class="row justify-content-around">
           <div class="col-img col-lg-4">
               <div class="row justify-content-center">
                <a href=""><img src="assets/img/logo-itsm.png"/></a>
               </div>
           </div>
           <div class="col-lg-4">
               <h6 class="text-dereccion">Dirección</h6>
               <h5>Carretera Federal Libre Mante-Valles Km. 6.7, Cong Quintero, Tamaulipas; C.P.89930
            </h5>
           </div>
           <div class="col-lg-4">
               <h6 class="text-contacto">Contacto</h6>
               <h5>TELS (831) 23 3 66 66 Y (831) 23 3 66 70, </h5>
               <h5>e-mail: direccion@itsmante.edu.mx</h5>
           </div>
       </div>
   </div>
</footer>

<!-- 
    <footer class="page-footer py-2 text-xs-center mt-5">
    <div class="contenedor-footer mt-2">
        <div class="container content-foo">
            <h5 class="titulo-final">Carretera Federal Libre Mante-Valles Km. 6.7, Cong Quintero, Tamaulipas; C.P.89930
            </h5>
            <h5 class="titulo-final">TELS (831) 23 3 66 66 Y (831) 23 3 66 70, </h5>
            <h5 class="titulo-final">e-mail: direccion@itsmante.edu.mx</h5>
            <h5 class="titulo-final">www.itsmante.edu.mx</h5>
        </div>
    </div>
</footer>
 -->